@{
    ViewBag.Title = "产线信息列表";
    Layout = "~/Areas/Admin/Views/Shared/_DataGridLayout.cshtml";
    ViewBag.GridId = "SwipeCard";
    ViewBag.GridDataUrl = Url.Action("GridData");
    ViewBag.AddUrl = Url.Action("Add");
    ViewBag.EditUrl = Url.Action("Edit");
    ViewBag.DeleteUrl = Url.Action("Delete");
    ViewBag.CreateExcel = Url.Action("CreateExcel");

}
@section customScript
{
    <script type="text/javascript">
        var selectTreeData = null;
        enableFilterData = false;
        toolbarData = "#toolbarData";
        var GetFilterRules = function () {
            var empNo = $('#EmpNo').textbox('getValue');
            var empName = $('#EmpName').textbox('getValue');
            var card = $('#Card').textbox('getValue');
            var swipdeDateStart = $('#SwipdeDateStart').textbox('getValue');
            var swipdeDateEnd = $('#SwipdeDateEnd').textbox('getValue');
            var toolbarfilterRules = [];

            toolbarfilterRules.push({ "field": "EmpNo", "op": "contains", "value": empNo });
            toolbarfilterRules.push({ "field": "EmpName", "op": "contains", "value": empName });
            toolbarfilterRules.push({ "field": "Card", "op": "contains", "value": card });
            toolbarfilterRules.push({ "field": "SwipdeDate", "op": "greaterorequal", "value": swipdeDateStart });
            toolbarfilterRules.push({ "field": "SwipdeDate", "op": "lessorequal", "value": swipdeDateEnd });
            return toolbarfilterRules;

        }
        var exportExcel = function () {
            var toolbarfilterRules = GetFilterRules();
            if (toolbarfilterRules) {
                var group = new $.Mes.filter.group();
                group.Rules = toolbarfilterRules;
                window.open("@ViewBag.CreateExcel?where=" + JSON.stringify(group));
            }

        };
        var Query = function () {
            var toolbarfilterRules = GetFilterRules();
            if (toolbarfilterRules) {
                $('#grid-@ViewBag.GridId').datagrid('load', {
                    filterRules: toolbarfilterRules
                });
            }

        }
        columns = [
            [
                { field: "EmpNo", title: "工号", width: 100, sortable: true },
                { field: "EmpName", title: "姓名", width: 100, sortable: true },
                { field: "Card", title: "物理卡号", width: 100, sortable: true },
                { field: "SwipeTime", title: "刷卡时间", width: 150, sortable: true, formatter: function (value) { return $.Mes.tools.formatDate(value); } },
                { field: "SwipdeDate", title: "刷卡日期", width: 100, sortable: true },
                { field: "DoorIo", title: "进出", width: 100, sortable: true }
            ]
        ];

    </script>
    <div id="toolbarData" style="padding: 5px; height: auto">
        <div style="margin-bottom: 5px">
            <a href="#" class="easyui-linkbutton" iconCls="icon-export" plain="true" onclick="javascript: exportExcel();">导出</a>
        </div>
        <div>
            工号: <input id="EmpNo" class="easyui-textbox" style="width: 80px">
            姓名: <input id="EmpName" class="easyui-textbox" style="width: 80px">
            物理卡号: <input id="Card" class="easyui-textbox" style="width: 80px">
            开始时间: <input id="SwipdeDateStart" class="easyui-textbox" style="width: 80px">
            结束: <input id="SwipdeDateEnd" class="easyui-textbox" style="width: 80px">

            <a href="#" class="easyui-linkbutton" iconCls="icon-search" onclick="javascript: Query();">查询</a>
        </div>
    </div>
}

